# Application runtime
APP_ENV=dev
SERVICE_NAME=fraud-shield-api
MODEL_VERSION=local
MODELS_DIR=models

MLFLOW_TRACKING_URI=http://localhost:5555

PREDICTION_PREFIX=predictions
FEEDBACK_PREFIX=feedbacks
DRIFT_REPORT_PREFIX=drift-reports

REFERENCE_DATA_PATH=data/raw/transactions.csv

MIN_ROWS=50
MIN_UNIQUE=4

# Used by Streamlit/local clients to call the API.
FRAUD_API_URL=http://localhost:8000


# Google Cloud / GCS / BigQuery
PROJECT_ID=your-gcp-project-id
PROJECT_NUMBER=your-gcp-project-number

GCP_REGION=asia-southeast1
GCS_BUCKET_NAME=your-gcs-bucket-name
BQ_DATASET=fraud_shield_monitoring


# GKE deployment
GKE_CLUSTER_NAME=fraud-shield

GSA_NAME=fraud-shield-api
GSA_EMAIL=fraud-shield-api@your-gcp-project-id.iam.gserviceaccount.com

KSA_NAME=fraud-shield-api
K8S_NAMESPACE=default


# AWS / DVC remote
AWS_REGION=ap-southeast-1
DVC_S3_BUCKET=your-dvc-s3-bucket-name
DVC_S3_REMOTE=s3://your-dvc-s3-bucket-name/dvc-storage/


# Docker image
DOCKERHUB_USERNAME=your-dockerhub-username
DOCKERHUB_REPO=fraud-shield-api
IMAGE_NAME=your-dockerhub-username/fraud-shield-api
IMAGE_TAG=demo
IMAGE_REF=your-dockerhub-username/fraud-shield-api:demo


# Grafana on GKE
GRAFANA_GSA_NAME=grafana-monitoring-reader
GRAFANA_GSA_EMAIL=grafana-monitoring-reader@your-gcp-project-id.iam.gserviceaccount.com
GRAFANA_KSA_NAME=grafana-ksa